# Redis configuration via ElastiCache
# These option_settings are merged with eb setenv vars
option_settings:
  aws:elasticbeanstalk:application:environment:
    REDIS_HOST: master.procuchain-redis.jgbkz8.use1.cache.amazonaws.com
    REDIS_PORT: 6379
    REDIS_SCHEME: tls
    REDIS_PASSWORD: null
    REDIS_CLIENT: predis
    REDIS_DB: 0
    REDIS_CACHE_DB: 1
    CACHE_STORE: redis
    SESSION_DRIVER: redis
    QUEUE_CONNECTION: redis
